*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
     height: 100vh;
     width: 100vw;
     background-image: url(/asset/images/wood.jpg);
     background-size: cover;
}
.header{
    height: 180px;
    width: 100vw;
    display: flex;
    /* border: 3px solid red; */
}
.rpm{
    height: 140px;
    width: 60vw;
    font-weight: bold;
    font-style: italic;
    font-size: 70px;
    color: black;
    /* border: 5px solid green; */
}
a{
    color: black;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}
.nav-about{
    height: 45px;
    width: 100vw;
    display: flex;
    justify-content: end;
    word-spacing: 25px;
    /* border: 3px solid blue; */
    align-items: center;
}
.wel-about{
    height: 520px;
    width: 100vw;
    color: black;
    font-size: 25px;
    font-style: italic;
    /* border: 3px solid orange; */
    padding-left: 50px;
    background: transparent;
    backdrop-filter: blur(3px);
}
.foot-about{
    display: flex;
    justify-content: end;
    font-style: italic;
    font-size: 25px;
    color: gold;
    /* border: 3px solid red; */
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
}