*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.container{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/white-wall.jpg);
    background-size: cover;
}
.header{
    height: 110px;
    width: 100vw;
    display: flex;
    /* border: 3px solid red; */
}
.rpm{
    height: 105px;
    width: 70vw;
    font-style: italic;
    font-size: 40px;
    color: rgb(36, 32, 32);
    /* border: 5px solid green; */
}
a{
    color: black;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}
a:hover{
    background: rgb(88, 69, 69);

}
.nav-features{
    background-color: rgb(207, 202, 202);
    color: black;
    height: 45px;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    word-spacing: 35px;
    border-radius: 15px;
    box-shadow: 0 0 80px;
    /* border: 3px solid blue; */
}
.wel-features{
    height: 700px;
    width: 100vw;
    color: black;
    font-size: 25px;
    font-style: italic;
    /* border: 10px solid orange; */
    padding-left: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 100px;
}