*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    /* background-image: url(../images/design.jpg); */
    background-color: rgb(134, 132, 132);
    background-size: cover;
    /* background-color: red; */
}
.header{
    height: 200px;
    width: 100vw;
    display: flex;
}
.rpm{
    height: 120px;
    width: 20vw;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    color: gold;
    /* border: 4px solid white; */
}

a{
    color: white;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
    /* background-color: black; */
}
a:hover{
    /* background-color: rgb(69, 61, 19); */
    box-shadow: #0ef 0 0 30px;
    height: 50px;
    width: 30%;
}
.nav{
    height: 50px;
    width: 80vw;
    display: flex;
    justify-content: end;
    word-spacing: 25px;
    align-items: center;
}
.wel{
    height: 170px;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    color: gold;
    font-size: 28px;
    font-style: italic;
    /* border: 4px solid white; */
}
.details{
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-style: italic;
    font-size: 22px;
    /* border: 2px solid blue; */
}
.foot{
    display: flex;
    justify-content: end;
    font-style: italic;
    font-size: 25px;
    color: black;
    /* border: 3px solid red; */
}
@media screen and (max-width:880px) {
    .container{
        height: 100vh;
        width: 100vw;
        background-image: url(/asset/images/design.jpg);
        background-size: cover;
    }
    .rpm{
        height: 120px;
        width: 20vw;
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
        color: gold;
    }
    a{
        color: white;
        font-size: 10px;
        font-style: italic;
        text-decoration: none;
        /* background-color: black; */
    }
    .nav{
        height: 50px;
        width: 80vw;
        display: flex;
        justify-content: end;
        word-spacing: 5px;
        align-items: center;
        /* border: 2px solid red; */
    }
    .wel{
        height: 140px;
        width: 100vw;
        justify-content: center;
        display: flex;
        align-items: center;
        color: gold;
        font-size: 15px;
        font-style: italic;
        /* border: 4px solid red; */
    }
    .details{
        height: 380px;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-style: italic;
        font-size: 15px;
        /* border: 2px solid blue; */
    }
    .foot{
        display: flex;
        justify-content: center;
        font-style: italic;
        font-size: 25px;
        color: gold;
        /* border: 3px solid red; */
        margin-top: 30px;
    }
    h2{
        padding-left: 12px;
        padding-right: 12px;
    }

    
}